:root {
  --text-color: #2e2e2e;
  --slogan-color: #949494;
  --button-text-color: #ececec;
}

.container {
  width: 1220px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  /* outline: dotted red; */
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

body {
  font-family: Inter;
  font-weight: 400;
  color: var(--text-color, #2e2e2e);
}

.header {
  border-bottom: 1px solid #2e2e2e;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: 'Tangerine', cursive;
  font-size: 58.753px;
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: 104px;
  margin-right: auto;
}

.header-link {
  font-size: 20px;
  line-height: 120%;
  padding: 15px 14px 21px;
}

.header-link:hover {
  text-shadow: 1px 3px 2px rgb(254, 189, 223);
}

.header-tel {
  font-size: 20px;
  font-weight: 300;
}

.hero .container {
  display: flex;
  padding-bottom: 25px;
}

.hero-box {
  padding-top: 120px;
  max-width: 750px;
}

.hero-title {
  font-family: 'Tangerine';

  font-size: 188px;
}

.hero-text {
  font-family: 'Seaweed Script', cursive;
  font-weight: 400;
  font-size: 42px;
}

.hero-button {
  color: var(--button-text-color, #ececec);
  font-size: 30px;
  font-weight: 300;
  background: var(--text-color, #2e2e2e);
  display: inline-flex;
  padding: 30px 50px 34px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 75px;
}

.hero-button:hover {
  background: rgb(46, 46, 46, 0.95);
}

.hero-img {
  padding-top: 25px;
  padding-left: 25px;
  border-left: 1px solid #2e2e2e;
  flex-shrink: 0;
}

.hero-photo {
  width: 628px;
  height: 926px;
}

.about {
  padding-top: 82px;
  padding-bottom: 92px;
}
.about-box {
  display: flex;
}
.about-title {
  font-family: 'Tangerine';
  font-size: 56px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 53px;
}
.about-text {
}
.about-list {
  display: flex;
  flex-direction: column;
  margin-right: 59px;
}
.about-item {
  border-top: 1px solid #2e2e2e;
  padding: 25px 0;
  display: flex;
  gap: 22px;
}

.about-item:last-child {
  border-bottom: 1px solid #2e2e2e;
}

.about-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #2e2e2e;
  flex-shrink: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}
.about-article {
}
.about-subtitle {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 13px;
}
.about-description {
  font-size: 24px;
  font-weight: 400;
}

.services {
  padding-top: 82px;
  padding-bottom: 102px;
}
.container {
}
.service-title {
  font-family: Tangine;
  font-size: 56px;
  text-align: center;
  margin-bottom: 54px;
}
.servince-list {
  display: flex;
}
.service-item {
}
.service-subtitle {
  border: 1px solid #2e2e2e;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.servises-text {
  border: 1px solid #2e2e2e;
  padding: 25px 24px;
  font-size: 24px;
}
.service-photo {
  margin-top: 23px;
  height: 490px;
  width: 393px;
}

.gallery {
}
.container {
}
.gallery-title {
  /* Web/H3 */
  font-family: Monotype Corsiva;
  font-size: 56px;
  text-align: center;
}
.gallery-list {
  margin-top: 54px;
}
.gallery-item {
}
.gallery-photo {
}
.gallery-btn {
  width: 232px;
  height: 70px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: var(--text-colory, #2e2e2e);
  font-size: 30px;
  line-height: 1.2;
}
.gallery-videos {
  margin-top: 81px;
  flex-wrap: nowrap;
}
.gallery-video {
  max-width: 608px;
}
.gallery-element {
}
